body{
        background-color: cadetblue;
        color: azure;
        }
header{
        background-color:darkolivegreen; 
        }
nav {
            background-color:darkkhaki;
        }
main {

        background-color:cornflowerblue; 
        }
footer {
            background-color:darkcyan;
        }